html body{
    margin: 0;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
header{
    width: 100%;
    background: url(header_bg.png);
    top: 0px;
    height: 105px;
    display: flex;
    flex-direction: column;
}
footer{
    bottom: 0px;
    background: url(footer_bg.png);
    height: 38px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;


}
#headerMenu{
    text-align: center;
    display: flex;
    font-size: 15px;
    color: white;
    font-family: Arial;
    font-weight: bold;

}
#headerList{
    display: flex;
    align-content: space-between;

}
#headerImg{
    position: relative;
    top: 20px;
    width: 142px;
    height: 93px;
    right: 30px;
}
#topHeader{
    display: flex;
    width: 100%;
    height: 20%;
    direction: ltr;
    justify-content: center;

}
#bottomHeader{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
form{
    position: relative;
    right: 330px;
    top: 15px;
}
#search{
    border-top-right-radius: 10px;
    border: none;
}
#changeLanguage{
    position: relative;
    right: 340px;
    top: 4px;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
#search_button{
    position: relative;
    right: 331px;
    top: 16px;
}
a{
    color: white;
    text-decoration: none;
    font-family: arial;

}


nav{
    display: flex;
    justify-content: center;

}
nav ul {margin:0; list-style: none; position: relative;}
nav ul li { float:left; list-style: none;}
nav ul li a { display:block;}
nav ul ul { display: none; position: absolute;}
nav ul li:hover > ul { display:flex; flex-direction: column;}
nav ul ul li {float:none; position: relative; }
nav ul ul ul li {
position: absolute relative;
top:-58px;
left:170px;
}
nav> ul >li{
    position: relative;
    margin-left: 15px;
    padding-bottom: 17px;
}
nav >ul{
    position: relative;
}
li{
    
    list-style: none;
}
nav> ul >li >ul {
    margin-top: 20px;
    text-align: right;
    width: max-content;


}

nav> ul >li >ul >li {
    background: url(menu_dropdown_bg.png);
    position: relative;
    left: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: silver solid 1px;

}
a:hover , #changeLanguage:hover{
    text-decoration: underline;
    color: #005CA0;

}
nav> ul >li >ul >li:hover{
    background: silver;
}
#footerMenu > ul{
    display: flex;
}
#footerMenu{
    position: relative;
    left: 40px;
    top: 15px;
    
}
#footerMenu > ul >li{
    
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.line{
    font-size: 14px;
    color: white;
    font-weight: bold;
    
    padding-right: 4px !important;
    padding-left: 4px !important;
}
#redColor{
    color: red !important;
}
#redColor:hover{
    color: #005CA0 !important;
}
main{
    display: flex;
    justify-content: center;
}
#topMain{
    display: flex;
    margin-top: 34px;
}

#bottomMain{
    display: flex;
}
#secondPic{
    margin-left: 12px;
    margin-right: 12px;
}
.topPictures{
    border-bottom-right-radius: 20px;
    display: flex;
}
.PicDisc{
    margin-right: 7px;
    margin-left: 20px;
    margin-bottom: -25px;
}
#topMain> div{
    display: flex;
    flex-direction: column;
}
.PicTitle{
    margin-bottom: -0.5em;
    font-weight: bold;
    margin-right: 7px;
}
.PicText{
    color: white;
    background-color:  rgba(128,128,128, 0.85);
    width: 248px;
    font-family: arial;
    font-size: 13px;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
    position: relative;
    right: 10px;
    bottom: 120px;

}
.more{
    text-decoration: underline;
    position: relative;
    right: 180px;
    margin-bottom: 0px;
    margin-top: 0px;
    top: 10px;
}
.morePic{
    position: relative;
    right: 5px;

}
.morePicBlue{
    position: relative;
    right: 5px;
    display: none;

}
.more:hover > .morePic{
    display: none;

}
.more:hover > .morePicBlue{
    display: inline;

}
#secondPicText{
    position: relative;
    right: 20px;
}
