html body{
    margin: 0;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
header{
    width: 100%;
    background: url(header_bg.png);
    top: 0px;
    height: 105px;
    display: flex;
    flex-direction: column;
}
footer{
    bottom: 0px;
    background: url(footer_bg.png);
    height: 38px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;


}
#headerMenu{
    text-align: center;
    display: flex;
    font-size: 15px;
    color: white;
    font-family: Arial;
    font-weight: bold;

}
#headerList{
    display: flex;
    align-content: space-between;

}
#headerImg{
    position: relative;
    top: 20px;
    width: 142px;
    height: 93px;
    right: 30px;
}
#topHeader{
    display: flex;
    width: 100%;
    height: 20%;
    direction: ltr;
    justify-content: center;

}
#bottomHeader{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
header form{
    position: relative;
    right: 330px;
    top: 15px;
}
#search{
    border-top-right-radius: 10px;
    border: none;
}
#changeLanguage{
    position: relative;
    right: 340px;
    top: 4px;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
#search_button{
    position: relative;
    right: 331px;
    top: 16px;
}
a{
    color: white;
    text-decoration: none;
    font-family: arial;

}


nav{
    display: flex;
    justify-content: center;

}
nav ul {margin:0; list-style: none; position: relative;}
nav ul li { float:left; list-style: none;}
nav ul li a { display:block;}
nav ul ul { display: none; position: absolute;}
nav ul li:hover > ul { display:flex; flex-direction: column;}
nav ul ul li {float:none; position: relative; }
nav ul ul ul li {
position: absolute relative;
top:-58px;
left:170px;
}
nav> ul >li{
    position: relative;
    margin-left: 15px;
    padding-bottom: 17px;
}
nav >ul{
    position: relative;
}
li{
    
    list-style: none;
}
nav> ul >li >ul {
    margin-top: 20px;
    text-align: right;
    width: max-content;


}

nav> ul >li >ul >li {
    background: url(menu_dropdown_bg.png);
    position: relative;
    left: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: silver solid 1px;

}
a:hover , #changeLanguage:hover{
    text-decoration: underline;
    color: #005CA0;

}
nav> ul >li >ul >li:hover{
    background: silver;
}
#footerMenu > ul{
    display: flex;
}
#footerMenu{
    position: relative;
    left: 40px;
    top: 15px;
    
}
#footerMenu > ul >li{
    
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.line{
    font-size: 14px;
    color: white;
    font-weight: bold;
    
    padding-right: 4px !important;
    padding-left: 4px !important;
}
#redColor{
    color: red !important;
}
#redColor:hover{
    color: #005CA0 !important;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#topMain{
    display: flex;
    margin-top: 34px;
    justify-content: center;
}

#bottomMain{
    display: flex;
    justify-content: center;
    margin-top: -95px;
    margin-bottom: 68px;
    font-family: arial;

}
#secondPic{
    margin-left: 12px;
    margin-right: 12px;
}
.topPictures{
    border-bottom-right-radius: 20px;
    display: flex;
}
.PicDisc{
    margin-right: 7px;
    margin-left: 20px;
    margin-bottom: -25px;
}
#topMain> div{
    display: flex;
    flex-direction: column;
}
.PicTitle{
    margin-bottom: -0.5em;
    font-weight: bold;
    margin-right: 7px;
}
.PicText{
    color: white;
    background-color:  rgba(128,128,128, 0.85);
    width: 248px;
    font-family: arial;
    font-size: 13px;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
    position: relative;
    right: 10px;
    bottom: 120px;

}
.more{
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
}
.more{
    position: relative;
    top: 10px;
    right: 180px;

}
.morePic{
    position: relative;
    right: 5px;

}
.morePicBlue{
    position: relative;
    right: 5px;
    display: none;

}
.more:hover > .morePic{
    display: none;

}
.more:hover > .morePicBlue{
    display: inline;

}
#secondPicText{
    position: relative;
    right: 20px;
}
.bottomDivs{
    display: flex;
    flex-direction: column;
    background: url(small_cube_bg.png);
    width: 292px;
    height: 216px;
    box-sizing: border-box;
    margin-right: 6px;
    margin-left: 6px;
    color: rgb(87, 87, 87);
}
.bottomDivTitles{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.bottomDivs> img{
    align-self: center;
}
.bottomDivs >.more{
    font-size: 13px;
    color: rgb(87, 87, 87);
    top: 20px;
}
.secondBottomTitle{
    text-align: right;
    margin-right: 25px;
    font-size: 14px;
    font-weight: bold;
}
.bottomDivs>div{
    display: flex;
    flex-direction: row;
}
.bottomDivs>div>div{
    display: flex;
    flex-direction: column;
    width: 67%;
}
.bottomDivs>div>div>a{
    
    font-size: 13px;
    color: rgb(87, 87, 87) !important;
    text-decoration: underline;
}

.more:hover{
    color:#005CA0 !important;
}
#directions{

    margin-right: -150px;
    margin-left: 150px;
}
a{
    width: fit-content;
}
#contactMain{
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 458px;
    width: 900px;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 32px;
}
#leftBoxes{
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;

}
#sideBar{
    position: relative;
    right: 25px;
}
#sideBar >ul>li{
    box-sizing: border-box;
    width:122px;
    height: 36px;
    position: relative;
    left: 12px;
    top: -10px;

}
#sideBar>ul>li>a{
    display: block;
    color: rgb(87, 87, 87);
    width:122px;
    height: 36px;
    background: url(side_menu_sprite.png);
    font-size: 13px;
}
#sideBar>ul>li>a:hover{
    color: #005CA0;
}
.contactBox{
    display: flex;
    flex-direction: column;
    background: url(small_cube_bg.png);
    width: 292px;
    height: 175px;
    box-sizing: border-box;
    margin-right: 69px;
    color: #6d6d6d;
    font-size: 13px;
    font-family: arial;
    position: relative;
    top: 30px;
    margin-top: 23px;

}
#linkToContant{
    position: relative;
    top: 8px;
    right: 12px;
}
.contactBoxTitle{
    font-family: arial;
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;

}
.contactBox>p , .contactBox>a{
    
    position: relative;
    bottom: 5px;
    right: 22px;
}
.contactBoxText{
    margin-bottom: 0px;
    margin-top: 0px;
}
.seconderyTitle{
    font-weight: bold;
}
.contactBox>a{
    color: blue;
}
.contactBox>a:hover{
    color: #005CA0;
}
#center{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -25px;
}

#centerBox{
    display: flex;
    flex-direction: column;
    background: url(contact_form_bg.png);
    width: 372px;
    height: 357px;
    box-sizing: border-box;
    color: #6d6d6d;
    font-size: 13px;
    font-family: arial;
    position: relative;
    right: 5px;
    margin-top: 23px;
    border-top-right-radius: 20px;
    border: rgb(204,204,204) 1px solid;

}
#center li:first-child::after{
    content: ' \003E ';

}
#center li{
    display: inline;
}
#title{
    border-bottom: #6d6d6d solid 1px;
    width: 440px;
    position: relative;
    font-size: 15px;
    font-family: arial;
    color: #6d6d6d;
    font-weight: 700;
}
#topLi{
    position: relative;
    right: -40px;
    bottom: 15px;
    color: rgb(92, 92, 92);
    font-size: 12px;
    font-family: arial;
    
}
#homePage{
    color: rgb(87, 87, 87);

}
#homePage:hover{
    color: #005CA0;
}
#centerBox form {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-left: 70px;

}
textarea{
    height: 100px;
}
form >div {
    margin-bottom: 6px;
    font-size: 12px;
}
.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#centerBox> p{
    margin-right: 20px;
    margin-bottom: 3px;
    margin-top: 3px;

}
#disclaimer{
    font-size: 12px;
}
#formDesc{
    font-size: 13px;
    font-weight: bold;
}
#formTitle{
    font-size: 15px;
    font-weight: 700;
    color: #005CA0;
}
button{
    background: url(button_blue.png);
    width: fit-content;
    position: relative;
    left: -190px;
    top: 5px;
    color: white;
    
}
button:hover{
    color: blue;
    background: url(button_yellow.png);
    cursor: pointer;
}